
html, body {
    height: 100%;
    margin-bottom: 0;
    background: fixed no-repeat url(../images/Travel-Wallpaper-Background.png);
    background-size: cover;
}

.hideMeAtLoad{
    display: none;
}

/*--------------------------------*/
/*On load animation*/
.anime{
    margin-top:150px;
}
.brand{
    text-shadow: 5px 2px 10px black;
    padding-bottom: 0px;
    font-size: 100px;
    font-weight: bolder;
}
.small{
    font-size: 30px;
}
/*--------------------------------*/

#query-div {
    position: fixed;
    z-index: 2;
}

#start-date,
#end-date {
    color: white;
}

.container {
    width:90%;
}

#landing-page {
    margin-top: 100px;
}

.card {
    width: 100%;
    float: left;
    transition: transform 0.9s;
    z-index: 1;
    border: 15px solid rgba(255,255,255,0.5);
    background-clip: padding-box;
 }

.card img {
    height: 250px;
}

.card .card-action {
    margin-bottom: 0;
    background-color: rgb(255,255,255);
}

.card-action {
    width: 100%;
}
div.card-reveal{
    padding:20px;
}

p{
    margin: 0;
}
.region {
    margin: 20px 0;
    width: 180px;
}

/* cards animation*/
#result-cards .is-moved {
  transform: translateX(1300px);
}

/*Media Queries for small devices*/
@media only screen and (max-width: 600px) {
    #query-div {
        position: static;
        z-index: 2;
    }
}

@media only screen and (max-width: 405px){
    .region {
        width: 160px;
        padding: 0;
    }
}