
html, body {
    height: 100%;
    overflow-x: hidden;
    margin-bottom: 0;
    background-image: url(../images/atl4.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.hideMeAtLoad{
    display: none;
}
.fixed{
    position: fixed;
}
.container{
    width:90%;
}

#landing-page {
    margin-top: 100px;
}

.card{
    width: 100%;
    margin-right: 0px;
    width: 100%;
    float: left;
    transition: transform 0.9s;
}

.card img{
    height: 150px;
}

.card .card-action {
    background-color: inherit;
    border-top: 1px solid rgba(160,160,160,0.2);
    margin-bottom: 0;
}
.card-action{
    width: 100%;
}
.container-cards {
    width: 96%;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
p{
    margin: 0;
}
.region {
    margin: 20px;
    margin-left: 0;
    margin-right: 0;
    width: 180px;
}

/* cards animation*/
#result-cards .is-moved {
  transform: translateX(1300px);
}
/*--------------------------------*/
/*On load animation*/
.anime{
    margin-top:150px;
}
.brand{
    text-shadow: 5px 2px 10px black;
    padding-bottom: 0px;
    font-size: 100px;
    font-weight: bolder;
}
.small{
    font-size: 30px;
}
/*--------------------------------*/


/*Media Queries for small devices*/
@media screen and(max-width: 980px){
    .region {
    min-width: 160px;
    margin: 20px;
    margin-left: 0;
    }
    .btn, .btn-large{
    padding: 10px;
}

}

@media screen and(max-width: 840px){
    .row .col.l3{
        width: 30%;
    }
    .region {
        width: 130px;
    }
    .btn, .btn-large{
        min-width: 130px;
    }
}